In [2]:
#import yfinance as yf
import pandas as pd
import os

In [3]:
if os.path.exists("sp500.csv"):
    sp500 = pd.read_csv("sp500.csv", index_col=0)
else:
    sp500 = yf.Ticker("^GSPC")
    sp500 = sp500.history(period="max")
    sp500.to_csv("sp500.csv")

In [4]:
sp500.index = pd.to_datetime(sp500.index)
sp500.index
sp500

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000,0,0
1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000,0,0
1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000,0,0
1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000,0,0
1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000,0,0
...,...,...,...,...,...,...,...
2022-05-10,4035.179932,4068.820068,3958.169922,4001.050049,4630150000,0,0
2022-05-11,3990.080078,4049.090088,3928.820068,3935.179932,4683220000,0,0
2022-05-12,3903.949951,3964.800049,3858.870117,3930.080078,4964130000,0,0
2022-05-13,3963.899902,4038.879883,3963.899902,4023.889893,4142950000,0,0
2022-05-16,4013.020020,4046.459961,3983.989990,4008.010010,2203333000,0,0

In [5]:
sp500.index

DatetimeIndex(['1950-01-03', '1950-01-04', '1950-01-05', '1950-01-06',
               '1950-01-09', '1950-01-10', '1950-01-11', '1950-01-12',
               '1950-01-13', '1950-01-16',
               ...
               '2022-05-03', '2022-05-04', '2022-05-05', '2022-05-06',
               '2022-05-09', '2022-05-10', '2022-05-11', '2022-05-12',
               '2022-05-13', '2022-05-16'],
              dtype='datetime64[ns]', name='Date', length=18211, freq=None)

In [6]:
sp500.plot.line(y="Close", use_index=True)

In [7]:
del sp500['Dividends']
del sp500['Stock Splits']

In [8]:
sp500["Tomorrow"]=sp500["Close"].shift(-1)

In [9]:
sp500

,Open,High,Low,Close,Volume,Tomorrow
Date,,,,,,
1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000,16.850000
1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000,16.930000
1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000,16.980000
1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000,17.080000
1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000,17.030001
...,...,...,...,...,...,...
2022-05-10,4035.179932,4068.820068,3958.169922,4001.050049,4630150000,3935.179932
2022-05-11,3990.080078,4049.090088,3928.820068,3935.179932,4683220000,3930.080078
2022-05-12,3903.949951,3964.800049,3858.870117,3930.080078,4964130000,4023.889893
2022-05-13,3963.899902,4038.879883,3963.899902,4023.889893,4142950000,4008.010010
2022-05-16,4013.020020,4046.459961,3983.989990,4008.010010,2203333000,NaN

In [10]:
sp500=sp500.loc["1990-01-01":].copy()

In [11]:
sp500

,Open,High,Low,Close,Volume,Tomorrow
Date,,,,,,
1990-01-02,353.399994,359.690002,351.980011,359.690002,162070000,358.760010
1990-01-03,359.690002,360.589996,357.890015,358.760010,192330000,355.670013
1990-01-04,358.760010,358.760010,352.890015,355.670013,177000000,352.200012
1990-01-05,355.670013,355.670013,351.350006,352.200012,158530000,353.790009
1990-01-08,352.200012,354.239990,350.540009,353.790009,140110000,349.619995
...,...,...,...,...,...,...
2022-05-10,4035.179932,4068.820068,3958.169922,4001.050049,4630150000,3935.179932
2022-05-11,3990.080078,4049.090088,3928.820068,3935.179932,4683220000,3930.080078
2022-05-12,3903.949951,3964.800049,3858.870117,3930.080078,4964130000,4023.889893
2022-05-13,3963.899902,4038.879883,3963.899902,4023.889893,4142950000,4008.010010
2022-05-16,4013.020020,4046.459961,3983.989990,4008.010010,2203333000,NaN

In [12]:
sp500["Target"]=(sp500["Tomorrow"] > sp500["Close"]).astype(int)

In [13]:
sp500

,Open,High,Low,Close,Volume,Tomorrow,Target
Date,,,,,,,
1990-01-02,353.399994,359.690002,351.980011,359.690002,162070000,358.760010,0
1990-01-03,359.690002,360.589996,357.890015,358.760010,192330000,355.670013,0
1990-01-04,358.760010,358.760010,352.890015,355.670013,177000000,352.200012,0
1990-01-05,355.670013,355.670013,351.350006,352.200012,158530000,353.790009,1
1990-01-08,352.200012,354.239990,350.540009,353.790009,140110000,349.619995,0
...,...,...,...,...,...,...,...
2022-05-10,4035.179932,4068.820068,3958.169922,4001.050049,4630150000,3935.179932,0
2022-05-11,3990.080078,4049.090088,3928.820068,3935.179932,4683220000,3930.080078,0
2022-05-12,3903.949951,3964.800049,3858.870117,3930.080078,4964130000,4023.889893,1
2022-05-13,3963.899902,4038.879883,3963.899902,4023.889893,4142950000,4008.010010,0
2022-05-16,4013.020020,4046.459961,3983.989990,4008.010010,2203333000,NaN,0

In [14]:
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier(n_estimators=100, min_samples_split=100,random_state=1)
train= sp500.iloc[:-100]
test=sp500.iloc[-100:]
predictors=["Close", "Volume", "Open", "High", "Low"]
model.fit(train[predictors], train["Target"])

RandomForestClassifier(min_samples_split=100, random_state=1)

In [15]:
#measure how accurate the model is

from sklearn.metrics import precision_score
#precision_score did it actually do (when we predict the stock goes up, did it actually do)
preds=model.predict(test[predictors])

In [16]:
import pandas as pd
preds=pd.Series(preds, index=test.index)

In [17]:
preds

Date
2021-12-22    1
2021-12-23    0
2021-12-27    0
2021-12-28    0
2021-12-29    0
             ..
2022-05-10    1
2022-05-11    1
2022-05-12    1
2022-05-13    1
2022-05-16    1
Length: 100, dtype: int64

In [18]:
precision_score(test["Target"], preds)

0.42857142857142855

In [19]:
combined= pd.concat([test["Target"], preds], axis=1)

In [20]:
import matplotlib.pyplot as plt

combined.plot()

In [21]:
combined.plot()

In [22]:
#backend
def predict(train, test, predictors, model):
    model.fit(train[predictors], train["Target"])
    preds = model.predict(test[predictors])
    preds = pd.Series(preds, index=test.index, name="Predictions")
    combined = pd.concat([test["Target"], preds], axis=1)
    return combined

In [23]:
def backtest(data, model, predictors, start=2500, step=250):
    all_predictions=[]
    
    for i in range(start, data.shape[0], step):
        train = data.iloc[0:i].copy()
        test= data.iloc[i:(i+step)].copy()
        predictions = predict(train, test, predictors, model)
        all_predictions.append(predictions)
    return pd.concat(all_predictions)

In [24]:
predictions= backtest(sp500, model, predictors)

In [25]:
predictions["Predictions"].value_counts()

0    3321
1    2336
Name: Predictions, dtype: int64

In [26]:
precision_score(predictions["Target"], predictions["Predictions"])

0.5351027397260274

In [27]:
predictions["Target"].value_counts()/predictions.shape[0]

1    0.536857
0    0.463143
Name: Target, dtype: float64

In [28]:
horizons= [2, 5, 60, 250, 1000]
new_predictors=[]

for horizon in horizons:
    rolling_averages=sp500.rolling(horizon).mean()
    
    ratio_column =f"Close_Ration_(horizon)"
    sp500[ratio_column]=sp500["Close"]/rolling_averages["Close"]
    
    trend_column=f"Trend_(horizon)"
    sp500[trend_column]=sp500.shift(1).rolling(horizon).sum()["Target"]
    new_predictors += [ratio_column, trend_column]

In [29]:
sp500=sp500.dropna()